extends layout

block body
    div.jumbotron
        h2 Welcome to Talkwut global exchange server
        p.lead.
            Check your privilege below.
    div(ng-controller='AppCtrl')

    div(ng-view)

    div
      | Angular Socket.io seed app: v
      span(app-version)
